html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* 	background-color: #ddd; */
	font-family: 'Arimo', sans-serif;
}
/* 생년월일 inputBpx */
.birthday>#birth1 {
	width: 80px;
	/* 	padding:16px; */
	margin-right: 10px;
	margin-left: -50px;
	height: 40px;
	/* 	text-align: center; */
}

.birthday>#birth2 {
	width: 80px;
	/* 	padding:16px; */
	margin-right: 10px;
	height: 40px;
	/* 	text-align: center; */
}

.birthday>#birth3 {
	width: 80px;
	/* 	padding:16px; */
	margin-right: 10px;
	height: 40px;
	/* 	text-align: center; */
}

/* 글씨 h1, h3 */
div .userInformation {
    margin-top: 10px;
    margin-bottom: 15px;
    color: #474747;
    font-weight:700;
	text-align: center;
	font-size: 23px;
}

.title1 {
	color: #ffffff;
	backgound: inherit;
	font-size: 35px;
	margin-top: 2%;
	margin-left: 40%;
	font-weight: bold;
}

/* CONTAINERS  max-width: 940px;*/

/* .container1 { width: 80%; margin: 0 auto; }  */
.container1 {
	width: 1450px;
	margin: 0 auto;
	height: 1000px;
}

.twelve {
	width: 100%;
}

.eleven {
	width: 91.53%;
}

.ten {
	width: 83.06%;
}

.nine {
	width: 74.6%;
}

.eight {
	width: 66.13%;
}

.seven {
	width: 57.66%;
}

.six {
	width: 49.2%;
}

.five {
	width: 40.73%;
}

.four {
	width: 32.26%;
}

.three {
	width: 23.8%;
}

.two {
	width: 15.33%;
}

.one {
	width: 6.866%;
}

.four1 {
	width: 6%
}

.ten1 {
	width: 30%
}

.five1 {
	width: 10%
}

/* COLUMNS */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
}

.col:first-of-type {
	margin-left: 0;
}

/* PROFILES */
.card {
	max-width: 80%;
	height: 660px;
	background-color: #f7f7f7;
	font-family: 'Arimo', sans-serif;
	font-size: 14px;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
}
/* #card2 {  */
/* 	word-wrap:break-word;  */
/* 	overflow:auto;  */
/* 	overflow-x:hidden; */
/* 	overflow-y:yes;  */
/* 	overflow: scroll; */
/* } */
.userCard {
	max-width: 100%;
	margin-left: 20px;
	margin-bottom: 5px;
	height: 15px;
	font-family: 'Arimo', sans-serif;
	font-size: 18px;
}

/* CARD ! */
#card1 {
	min-width: 23.8%;
	text-align: center;
	color: #2c3e50;
	/* 	padding: 15px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
	border-radius: 6px;
}

#pName {
	margin-top: 15px;
	color: #305f5f;
	text-align: left;
	margin-left: 11px;
	font-weight: bold;
}

#paName {
	margin-top: 15px;
	color: #305f5f;
	text-align: left;
	margin-left: 34px;
	margin-right: 14px;
	font-weight: bold;
}

/* CARD 2 */
#card2 {
	color: #2c3e50;
	border-radius: 6px;
	word-wrap: break-word;
	overflow: auto;
	overflow-x: hidden;
	overflow-y: yes;
	overflow: scroll;
}

/* CARD 3 */
#card3 {
	color: #2c3e50;
	border-radius: 6px;
}

/* 회원정보수정 */
.updateBtns {
	margin-top: 8%;
	margin-left: -10%;
	ext-decoration: none;
	text-decoration: none;
}

span>#submitBtn {
	text-decoration: none;
	ext-decoration: none;
}

span>#submitPassBtn {
	text-decoration: none;
	ext-decoration: none;
}

a>#userInfoUpdate {
	font-size: 13px;
	text-decoration: none;
	color: white;
	/* 	padding-top: 1px; */
}

#submitBox {
	text-align: center;
	/*   margin-top: 30%; */
	/*   position:; */
	width: 45%;
	height: 40px;
	padding: 10px;
	border-radius: 6px;
	border: 0;
	margin-left: 30px;
	background: #df736a;
	font-size: 1.2em;
	color: #fff;
	/*   text-shadow:#d9554a; */
	ext-decoration: none;
}

#submitBoxPass {
	text-align: center;
	/*   margin-top: 30%; */
	/*   position:; */
	width: 45%;
	height: 40px;
	padding: 10px;
	border-radius: 6px;
	border: 0;
	margin-left: 151px;
	background: #df736a;
	font-size: 1.2em;
	color: #fff;
	ext-decoration: none;
}

/* #userPattern { */
/*     text-align: center; */
/*     font-size: 13px; */
/*     width: 45%; */
/*     height: 40px; */
/*     padding: 5px; */
/*     border-radius: 6px; */
/*     border: 0; */
/*     margin-left: 230px; */
/*     background: #df736a; */
/*     font-size: 1.1em; */
/*     color: #fff; */
/* } */
.patternIn {
	width: 95%;
	border: 1px solid #eee;
}

input {
	width: 95%;
	background: #f5f5f5;
	border: 0;
	padding: 13px;
	border-radius: 6px;
	/*   margin-bottom:2px; */
	border: 1px solid #eee;
}

.nickDiv>#nickName {
	width: 72%;
	background: #f5f5f5;
	border: 0;
	padding: 16px;
	border-radius: 6px;
	margin-bottom: 3px;
	margin-left: -10px;
	border: 1px solid #eee;
}

.nickDiv>#userEmail {
	width: 72%;
	background: #f5f5f5;
	border: 0;
	padding: 16px;
	border-radius: 6px;
	margin-bottom: 3px;
	margin-left: -10px;
	border: 1px solid #eee;
}

input:focus, textarea:focus {
	outline: none;
}

button, input[type="submit"], input[type="radio"], input[type="checkbox"] 
input[type="button"] {
	cursor: pointer;
}

/* table @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
.col-md-1 {
	width: 8.3333333%
} /* 12개의 엘리먼트들이 부모의 영역중 8.3 정도를 영역으로 차지 */
.col-md-2 {
	width: 16.6666667%
} /* 6개 */
.col-md-3 {
	width: 25%
} /* 4개 */
.col-md-4 {
	width: 33.3333333%
} /* 3개 */
.col-md-5 {
	width: 41.6666667%
}

.col-md-6 {
	width: 50%
} /* 2개 */
.col-md-7 {
	width: 58.3333333%
}

.col-md-8 {
	width: 66.6666667%
}

.col-md-9 {
	width: 75%
}

.col-md-10 {
	width: 83.333333%
}

.col-md-11 {
	width: 91.666667%
}

.col-md-12 {
	width: 100%
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
	.col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 .col-md-12 {
	float: left;
	position: relative; /* 본래 자기 위치 기준에서 */
	min-height: 1px;
	padding-left: 15px; /* 자기 영역 내에서의 간격 */
	padding-right: 15px;
}

table {
	border-collapse: collapse;
}

.table {
	width: 100%;
	margin-bottom: 30px;
}

th {
	text-align: left;
}

td, th {
	padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th {
	padding: 8px;
	line-height: 1.42;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
/* 홀수번째 tr들만을 대상으로 */
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.table-bordered {
	border: 1px solid #ddd;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th {
	border: 1px solid #ddd;
}

.table-hover>tbody>tr:hover {
	background-color: #f5f5f5;
}

/* 빨 주 노 초 파 람 보 윗줄단  */
.swatches {
	float: left;
	background: #333;
}

.swatches span {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin: 5px;
}

.red {
	background: #ad3025;
	opacity: 0.9;
}

.orange {
	background: #fbc444;;
	opacity: 0.8;
}

.yellow {
	background: #f0b500;
	opacity: 0.8;
}

.green {
	background: #22a86d;
	opacity: 0.8;
}

.blue {
	background: #2279a4;
	opacity: 0.8;
}

.maxbtn span {
	display: block;
	border: 1px solid #333;
	border-top: 3px solid #333;
	width: 11px;
	height: 11px;
	margin-top: 7px;
}

.maxbtn:hover span, .maximized .maxbtn span {
	border-color: #e7e7e7;
}

.xbtn:hover {
	color: #e7e7e7;
}

.topbar {
	border-radius: 3px 3px 0 0;
	padding: 5px;
	text-align: right;
	cursor: default;
}

.xbtn, .maxbtn {
	padding: 2px 4px;
	text-align: center;
	border-radius: 2px;
	color: #333;
	display: inline-block;
	zoom: 1.0;
	vertical-align: top;
	font-family: 'Days One', sans-serif;
	font-size: 16px;
	margin-top: -3px;
}
/* 등급 */
.userInfoPoint {
	margin-left: 45px;
	/* 	margin-top	:5px; */
	/* 	text-align:right; 	 	 */
	font-size: 20px;
	color: #353535;
	text-shadow: 1px 1px 1px rgba(1, 1, 0, .1);
}

.userInfobattery1 {
	/* 	margin-top:-30px;  */
	vertical-align: sub;
}

.lelvel {
	
}

/* //캘린더 !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* .aaaa { */
/* 	color: red; */
/* } */

/* /* Kurien / Kurien's Blog / http://blog.kurien.co.kr */
*
/
/* /* @import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css); */
 
*
/
/* /* * {font-family: 'Nanum Gothic', serif;} */
 
*
/

/* #kCalendar #header { */
/* height: 70px; line-height: 70px; text-align: center; font-size: 20px;  */
/* 					font-weight: bold; color: black; background-color: yellow; */

/* /*   width: 100%; */
 
*
/
/* /*   height: 37px; */
 
*
/
/* /*   text-align: center; */
 
*
/
/* /*   background-color: #FF6860; */
 
*
/
/* /*   padding: 18px 0; */
 
*
/
/*   -webkit-border-radius: 12px 12px 0px 0px; */
/*   -moz-border-radius: 12px 12px 0px 0px;  */
/*   border-radius: 12px 12px 0px 0px; */
/* } */

/* #kCalendar {width: 360px; height: 400px; border: 3px solid #FFFFFF; */
/*   -webkit-border-radius: 12px 12px 0px 0px; */
/*   -moz-border-radius: 12px 12px 0px 0px;  */
/*   border-radius: 12px 12px 0px 0px;} */
/* #calTable {margin-left: 10px; margin-top: 10px;} */
/* #kCalendar #header {height: 70px;  */
/* line-height: 70px;  */
/* text-align: center;  */
/* font-size: 20px;  */
/* font-weight: bold;  */
/* color: black;  */
/* background-color: yellow; */

/* } */
/* #date { color: black;} */

/* #kCalendar .button {color: #000; text-decoration: none;} */

/* #kCalendar table {width: 320px; height:279px;} */
/* #kCalendar caption {display: none;} */
/* /* td {font-size: 15px; } */
 
*
/

/* #kCalendar .sun {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 6px;} */
/* #kCalendar .mon {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 1px;} */
/* #kCalendar .tue {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 9px;} */
/* #kCalendar .wed {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 5px;} */
/* #kCalendar .thu {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 7px;} */
/* #kCalendar .fri {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 15px;} */
/* #kCalendar .sat {text-align: center; font-size: 20px; width: 70px; height: 44px; padding-left: 12px;} */