article, aside, details, figcaption, figure, footer, header, hgroup, nav,
	section {
	display: block;
}

html {
	font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

input:focus, textarea:focus {
	outline: none;
}

label, select, button, input[type="submit"], input[type="radio"], input[type="checkbox"] 
input[type="button"] {
	cursor: pointer;
}

h1>#siciallogin:hover {
	cursor: pointer;
}

/* #signup > a { */
/* 	 color: #ccc; */
/* 	  text-decoration: none; */
/* } */
/* a:visited,  */
/* a:active { */
/*     text-decoration: none; */

/* } */

/* a:hover { */
/*     text-decoration: none; */
/*      color: #c0c0c0; */

/* } */
::selection {
	background: #ed327b;
	color: #fff;
}

::-moz-selection {
	background: #ed327b;
	color: #fff;
}

* {
	font-size: 100%;
	/*     margin: 0; */
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	font-family: "Helvetica Neue", Helvetica, Arial;
}

.twoBtn {
	display: inline;
}

.signuoForm {
	background: #fff;
	border-radius: 6px;
	padding: 20px;
	padding-top: 30px;
	width: 420px;
	min-width: 300px;
	margin: 50px auto;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
	/*   height: 800px; */
	min-height: 750px;
}

#signuph1 {
	color: #f26964;
	font-weight: bolder;
	text-align: center;
	margin-bottom: 25px;
	font-size: 40px;
}

span {
	font-size: 15px;
/* 	margin-right: 10%; */
}

input {
	width: 100%;
	height: 50px;
	background: #f5f5f5;
	border: 0;
	/*   padding:16px; */
	border-radius: 10px;
	border: 1px solid #eee;
}

.inputDetail {
	margin-bottom: 10px;
	/*   margin-top:10px; */
}
/* 이메일 */
#userEmail, #userEmailDetail, #userEmailDomain {
	outline: none;
}

#userEmailDomain {
	color: #999;
}

#userEmailDomain option {
	color: black;
}

.innerBox>#userEmail {
	width: 40%;
	height: 40px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	/* 	padding: 0 19px; */
}

.innerBox>#userEmailDetail {
	width: 45%;
	height: 40px;
	border: 1px solid #eee;
	margin-bottom: 10px;
	/* 	padding: 0 19px; */
}

.innerBox {
	position: relative;
	margin-top: 10px;
}

#emptyBox {
	display: inline-block;
	width: 30px;
	text-align: center;
}

.birthText {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #898989;
	font-size: 15px;
}

.birthday {
	/* 	width:100%; */
	/* 	height: 50px; */
	margin-bottom: 20px;
}

.birthday>#birth1 {
	width: 30%;
	/* 	padding:16	px; */
	margin-right: 5px;
	height: 40px;
	text-align: center;
}

.birthday>#birth2 {
	width: 30%;
	/* 	padding:16px; */
	margin-right: 5px;
	height: 40px;
	text-align: center;
}

.birthday>#birth3 {
	width: 30%;
	/* 	padding:16px; */
	/* 	margin-right:4px; */
	height: 40px;
	text-align: center;
}

/* .btn { */
/*   margin-bottom: 5%; */
/*   position:relative; */
/*   width:100%; */
/*   padding:20px; */
/*   border-radius:6px; */
/*   border:0; */
/*   background:#f26964; */
/*   font-size:1.2em; */
/*   color:#fff; */
/*   text-shadow:1px 1px 0px rgba(0,0,0,.1); */
/*   box-shadow:0px 3px 0px #c1524e; */
/* } */
#submitBox {
	text-align: center;
	width: 100%;
	height: 40px;
	padding: 10px;
	border-radius: 6px;
	border: 0;
	background: #f26964;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 0px 3px 0px #c1524e;
}

#submitBox1 {
	text-align: center;
	margin-top: 5px;
	width: 100%;
	height: 40px;
	padding: 11px;
	border-radius: 6px;
	border: 0;
	background: #f26964;
	font-size: 1.2em;
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, .1);
	box-shadow: 0px 3px 0px #c1524e;
}

#submitBox>#submitBtn {
	text-decoration: none;
}

#submitBox>#submitBtn:hover {
	cursor: pointer;
}

#submitBox1>#submitBtn:hover {
	cursor: pointer;
}

#submitBox1>#submitBtn1 {
	text-decoration: none;
}

a>.signupbtn {
	font-size: 18px;
	color: white;
	text-decoration: none;
	text-align: center;
}

.btn:active {
	top: 3px;
	box-shadow: none;
}