video {
    box-sizing: border-box;
}
#number-of-participants {
 color: gray;
 position: relative;
 bottom: 5px;
}
#strong, .link a {
	display: none;
}
.shareTitle {
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	color: white;
	margin-top: 5%;
	width: 70%;
}
.embedded-container.decal {
  margin-left: 0;
}

.embedded-container ul {
  list-style: none;
}
.embedded-container {
  box-sizing: border-box;
  display: inline-block;
}
.hide-after-join span {
	color: gray;
}
.hide-after-join a{
	font-size: 12px;
	color: white;
}
.embedded-container .embedded-player-az {
  max-width: 100%;
}
.embedded-player-az .screen {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.33);
  transition: filter 0.5s;
  -webkit-transition: -webkit-filter 0.5s;
  -moz-transition: filter 0.5s;
  -o-transition: filter 0.5s;
  z-index: 2;
  width: 900px;
  background: black;
  border-radius: 5px;
  /*  
    CHROME AUDIT ADVICE
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    */
   vertical-align: middle;
}
.remoteScreen{
   width: 100%;
   height: 500px; 
   max-width:600px; 
   line-height: 500px;
}
#shareScreen, #endScreen {
	margin-bottom: 10px;
}
iframe {
	height: 500px;
	width: 330px;
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
}
#roomsList{
	text-align: center;
	margin: 0 auto;
	color: gray;
	bottom: 5px;
}
.media{
	margin-bottom: 10px;
}
.media-right {
   padding-left: 0px;	
}
.media-left {
   padding-left: 0px;	
}
#chat{
  width: 330px;
  border-radius: 5px;
}
.chat{
  width: 330px;
  background: white;
  border-radius: 5px;
}
.bottom-bar{
	bottom: 6px;
	color: black;
	position: absolute;
}
.bottom-bar input{
	width: 220px;
}
.screenShare{
  height: 30px;
  width: 100px;
  bottom: 6px;
}
.embedded-player-az .buttons button {
  font-family: "Glyphter";
  /*    removing default style*/
  background: transparent;
  border: none;
  padding: 5px;
  font-size: 20px;
  color: white;
}

.embedded-player-az .buttons button:focus {
  outline: none;
}

.embedded-player-az .buttons p {
  margin: 0;
}

.embedded-player-az:hover .buttons {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 1;
  visibility: visible;
}

.embedded-player-az:hover .progressVid {
  margin-top: 0px;
  transition: 0.5s;
}

/*buttons unique properties*/

.embedded-player-az .videoTime {
  font-size: 0.8rem!important;
  position: relative;
  bottom: 4px;
}

.embedded-player-az .video-change,
.embedded-player-az .subtiles,
.embedded-player-az .timer {
  font-family: "Works Sans", sans-serif!important;
}

.embedded-player-az .subtiles {
  color: #22a1ff!important;
}

.embedded-player-az .disabled {
  color: white!important;
}

.embedded-player-az .video-change {
  font-weight: 700;
}


/*progessBar style*/

.embedded-player-az .progressVid {
  width: 100%;
  height: 10px;
  background: #cecece;
  overflow: hidden;
  margin-top: 35px;
}

.embedded-player-az .follow {
  background: -webkit-linear-gradient(90deg, .00c6ff 10%, #0072ff 90%);
  background: -moz-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  background: -ms-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  background: -o-linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  background: linear-gradient(90deg, #00c6ff 10%, #0072ff 90%);
  width: 1%;
  display: inline-block;
  height: 10px;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  position: relative;
  bottom: 4px;
  z-index: 1;
}

.embedded-player-az .buffer {
  background: #72779d;
  width: 0%;
  display: inline-block;
  height: 10px;
  transition: 0.3s linear;
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  position: absolute;
  left: 0;
  z-index: 0;
}

.embedded-player-az .dot {
  height: 15px;
  width: 15px;
  position: absolute;
  top: -2.5px;
  background: -webkit-linear-gradient(-90deg, #00c6ff 10%, #0072ff 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(-90deg, #00c6ff 10%, #0072ff 90%);
  /* FF3.6+ */
  background: -ms-linear-gradient(-90deg, #00c6ff 10%, #0072ff 90%);
  /* IE10 */
  background: -o-linear-gradient(-90deg, #00c6ff 10%, #0072ff 90%);
  /* Opera 11.10+ */
  background: linear-gradient(-90deg, #00c6ff 10%, #f000 90%);
  /* W3C */
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  z-index: 1;
}


/*while fullscreen*/

.embedded-player-az .full {
  background: black!important;
  width: 100vw!important;
  height: 100vh!important;
}


/*SETTINGS STYLE PART*/

.embedded-player-az .settings {
  transition: transform 0.3s;
  transition: 0.3s transform;
  -webkit-transition: 0.3s transform;
  -moz-transition: 0.3s transform;
  -o-transition: 0.3s transform;
}

.embedded-player-az .settings-ui {
  width: 150px;
  height: 125px;
  position: absolute;
  right: 0px;
  top: -150px;
  font-size: 0.6rem;
  display: none;
}

.embedded-container .settings-ui li {
  border-bottom: thin solid grey;
  text-align: center;
  background: #3e3e3e;
  line-height: 2;
  margin-bottom: 10px;
}

.embedded-container .settings-ui li:hover {
  background: rgba(0, 0, 0, 0.30);
}
.embedded-container .settings-ui ul,
.embedded-container .settings-ui li,
.embedded-container .settings-ui li p {
  margin: 0;
  padding: 0;
}

.embedded-container .settings li span {
  text-decoration: underline;
}

/*settings menu popping*/

.embedded-player-az .expand {
  display: block;
}

.embedded-player-az input[type=range] {
  display: inline-block;
  width: 100px;
}


/*FILTERS*/

.embedded-player-az .grayscale {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.embedded-player-az .sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.embedded-player-az .invert {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.embedded-player-az .night {
  -webkit-filter: brightness(0.3);
  filter: brightness(0.3);
}

.embedded-player-az.blur {
  /*
    RIP PAUSE BLUR FEATURE : TAKE TOO MUCH RESSOURCES
    -webkit-filter: blur(4px)brightness(0.7);
    filter: blur(4px)brightness(0.7);
*/
  -webkit-filter: brightness(0.7);
  filter: brightness(0.7);
}

.embedded-player-az .freeze {
  background: #ffffff;
}


/*INFO PANEL STYLE*/

.info-panel ul {
  list-style: none;
}

.info-panel ul {}

.info-panel {
  width: 18%;
  height: 100vh;
  background: #0097A7;
  display: inline-block;
  float: right;
  font-family: "Work Sans", sans-serif;
  box-shadow: -3px 0 5px rgba(0, 0, 0, 0.37);
  position: relative;
  left: 19%;
  display: none;
  transition: left 0.5s cubic-bezier(0.4, 0, 0.76, 1.3);
  -webkit-transition: left 0.5s cubic-bezier(0.4, 0, 0.76, 1.3);
  -moz-transition: left 0.5s cubic-bezier(0.4, 0, 0.76, 1.3);
  -o-transition: left 0.5s cubic-bezier(0.4, 0, 0.76, 1.3);
}

.info-panel h4 {
  text-align: center;
}

.info-panel .attributes-infos {
  font-size: 0.7rem;
  padding-left: 20px;
  line-height: 2;
  width: 30%;
  display: inline-block;
}

.info-panel .attributes-values {
  font-size: 0.7em;
  padding-right: 20px;
  line-height: 2;
  width: 30%;
  text-align: left;
  display: inline-block;
}
.info-panel.slide {
  left: 0;
  display: inline-block;
}


/*THE END*/


/* card 스타일 CSS */
.remoteBody {
	width: 1200px;
	margin: 0 auto;
	margin-top: 10%;
	margin-left: 10%;
}

.remote {
  width: 100%;
  margin: 0 auto;
}

.remoteList {
  width: 100%;
  text-align: center;
}


/* col 비율 */
.one { width: 6.866%; }
.two { width: 15.33%; }
.three { width: 23.8%; }
.four { width: 32.26%; }
.five { width: 40.73%; }
.six { width: 49.2%; }
.seven { width: 57.66%; }
.eight { width: 66.13%; }
.nine { width: 74.6%; }
.ten { width: 83.06%; }
.eleven { width: 91.53%; }
.twelve { width: 100%; }
.four1 { width: 6% }
.five1 { width: 10% }
.ten1 { width: 30% }

/* COLUMNS */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
}
.col:first-of-type {
	margin-left: 0;
}
/* PROFILES */
.card {
	max-width: 100%;
	height: 500px;
	background-color: #f7f7f7;
	font-family: 'Arimo', sans-serif;
	
	font-size: 14px;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
	box-sizing: border-box;
}

/* CARD ! */
#card1 {
	margin: 0 auto;
	max-width: 100%;
	text-align: center;
	color: #2c3e50;
	/* 	padding: 15px; */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, .1);
	border-radius: 6px;
}

/* CARD 2 */
#card2 {
	max-width: 30%;
	overflow: hidden;
	color: #2c3e50;
	border-radius: 6px;
}

/* CARD 3 */
#card3 {
	max-width: 30%;
	color: #2c3e50;
	border-radius: 6px;
}

/* 회원정보수정 */
.updateBtns {
	margin-top: 8%;
	margin-left: -10%;
}

span>#submitBtn {
	text-decoration: none;
}

span>#submitPassBtn {
	text-decoration: none;
}

a>#userInfoUpdate {
	font-size: 13px;
	text-decoration: none;
	color: white;
	/* 	padding-top: 1px; */
}

#submitBox {
	text-align: center;
	/*   margin-top: 30%; */
	/*   position:; */
	width: 45%;
	height: 40px;
	padding: 10px;
	border-radius: 6px;
	border: 0;
	margin-left: 30px;
	background: #df736a;
	font-size: 1.2em;
	color: #fff;
	/*   text-shadow:#d9554a; */
	box-shadow: 0px 3px 0px #e89791;
	ext-decoration: none;
}

input {
	width: 95%;
	background: #f5f5f5;
	border: 0;
	padding: 16px;
	border-radius: 6px;
	margin-bottom: 5px;
	border: 1px solid #eee;
}

input:focus, textarea:focus {
	outline: none;
}

button, input[type="submit"], input[type="radio"], input[type="checkbox"] 
input[type="button"] {
	cursor: pointer;
}

table {
	border-collapse: collapse;
}
.table {
	width: 100%;
	margin-bottom: 20px;
}
.table>tbody>tr>td, .table>tbody>tr>th {
	padding: 8px;
	line-height: 1.42;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
/* 홀수번째 tr들만을 대상으로 */
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}
.table-bordered {
	border: 1px solid #ddd;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th {
	border: 1px solid #ddd;
}

.table-hover>tbody>tr:hover {
	background-color: #f5f5f5;
}

/* 빨 주 노 초 파 람 보 윗줄단  */
.swatches {
	float: left;
	background: #333;
}
.swatches span {
	display: block;
	float: left;
	width: 10px;
	height: 10px;
	cursor: pointer;
	margin: 5px;
}
.red {
	background: #ad3025;
	opacity: 0.9;
}
.orange {
	background: #f27937;
	opacity: 0.8;
}
.yellow {
	background: #f0b500;
	opacity: 0.8;
}
.green {
	background: #22a86d;
	opacity: 0.8;
}
.blue {
	background: #2279a4;
	opacity: 0.8;
}

.maxbtn span {
	display: block;
	border: 1px solid #333;
	border-top: 3px solid #333;
	width: 11px;
	height: 11px;
	margin-top: 7px;
}
.pull-right {
	margin-right: 50px;
}

.maxbtn:hover span, .maximized .maxbtn span {
	border-color: #e7e7e7;
}

.xbtn:hover {
	color: #e7e7e7;
}

.topbar {
	border-radius: 3px 3px 0 0;
	padding: 5px;
	text-align: right;
	cursor: default;
    margin-bottom: 10px;
}

span {
	color: #e7e7e7;
}

.xbtn, .maxbtn {
	padding: 2px 4px;
	text-align: center;
	border-radius: 2px;
	color: #333;
	display: inline-block;
	zoom: 1.0;
	vertical-align: top;
	font-family: 'Days One', sans-serif;
	font-size: 16px;
	margin-top: -3px;
}
