.table td, .table th {
  padding:7px;
  vertical-align:top;
  border-top:1px solid #dee2e6;
  text-align:center;
}

th {
  text-align:center;
}
.table-responsive{clear: both;
    border-top: 1px solid #b3b3b3;
    border-bottom: 1px solid #e6e6e6;
    text-align: center;}
/*  a:link { color: #80FF00; text-decoration: none;} */
/*  a:visited { color: #80FF00; text-decoration: none;}*/ 
/*  a:hover { color: #80FF00; text-decoration: underline;} */
 .container {color:#727272; background-color:#fff;}
 .table {color:#727272; margin-bottom:0}
 table thead tr { background:#f3f3f3;    }
 .table>thead>tr>th {border-bottom: 1px solid #ddd;}
 table thead tr th {height: 40px;
    padding: 10px 8px; }
.table>tbody>tr>td{vertical-align: middle;}
.table tr:hover td{background-color:#fcf9ce}
 